body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    height: 100vh;
    background-color: black;
    font-family: "Montserrat", serif;
    color: white;
}
.sidebar{
    background-color: black;
    width: 19rem;
    border-radius: 1rem;
    margin: 0.75rem ;
    }
.main{
    background-image: linear-gradient(to bottom,rgb(38, 38, 38) ,#121212 40%);
    flex:1;
    border-radius: 1rem;
    margin: 0.75rem;
    overflow: auto;
}
.player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
.nav{
    background-color: #121212;
    height: 8rem;
    padding: 0.5rem 1.25rem;
    margin-bottom: 0.75rem;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.nav i{
    color: white;
    font-size: 1.5rem;
}
.nav-options{
    padding: 1rem;
    opacity: 0.7;
}
.nav-options i{
    margin-right: 0.75rem;
}
.nav-options:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    height: 100%;
}
.icon{
    width: 100%;
    height: 4rem;
    background-color:#121212;
    border-radius: 1rem;
}
.lab-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.lab{
    opacity: 0.7;
}
.lab:hover{
    opacity: 1;
}
.library i{
    color: white;
    font-size: 1.25rem;
    border-radius: 1rem;
}
.lab img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
.lab a{
    font-weight: 700;
}
.lab:hover{
    opacity: 1;
}
.pluse{
    opacity: 0.7;
}
#pluse{
    margin-right: 1rem;
}
.section{
    width: 100%;
    height:9rem;
    background-color: rgb(39, 38, 38);
    border-radius: 1rem;
}
.para1{
    font-weight: 700;
}
.para2{
    font-size: 0.85rem;
    opacity: 0.8;
}
.text{
    padding: 1rem;
}
.badge{
    border: none;
    border-radius: 100px;
    font-weight: 700;
    height: 30px;
    width: fit-content;
}
.box{
    height: 11rem;
    margin-top: 1rem;
}
@media (max-width:1000px){
    .badge{
        font-weight: 100;
    }
    .section{
        overflow: scroll;
        margin-top: 30px;
    }
    .explore{
        display: none;
    }
    .for{
        display: none;
    }
}
@media (max-width:330px){
    .sidebar{
        z-index: -1;
    }
}
.header{
width: 100%;
height: 4rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: sticky;
background-color: #1d1c1c;
z-index: 1;
top: 0px;
}
.header img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: black;
    margin-left: 1rem;
}
.but{
    margin-right:0.8rem;
    width: 16rem;
}
.head{
    margin-right:.4rem;
}
.cards img{
    width: 10rem;
    border-radius: 0.7rem;
}
.cards{
    width: 10rem;
    border-radius: 0.7rem;
    background-color: #302e2e;
    padding: 0.7rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.dis{
    opacity: 0.7;
}
.new{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr{
    width: 80%;
    border-bottom:1px solid gray;
}
.content{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    height: 330px;
}
.player{
    display: flex;
    flex-direction: row;
}
.song-info{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.song-info img{
    width: 50px;
    height: 50px;
    margin-left: 2rem;
    border-radius: 0.5rem;
}
.play-bar{
    width: 50%;
}
.info{
    width: 25%;
}
.song-name{
     margin: 0px;
     font-size: 0.8rem;
}
.artist{
   margin: 0px;
   font-size: 0.75rem;
   opacity: 0.7;
}
.play-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.controls img{
    width: 1.2rem;
    height: 1.2rem;
}
.play{
    opacity: 1;
}
.rang{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.7rem;
}
.player-icon{
    margin: 0rem 1rem;
    opacity: 0.7;
}
.progress-bar{
 appearance: none;
    width: 30rem;
    height: 0.5rem;
    margin-top: 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: #bbb;
    height: 0.5rem;
    border-radius: 2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 10px;
    width: 10px;
    background-color:green;
    border-radius: 50%;
}
.info{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info i{
    color: white;
    margin-right: 1rem;
    margin-top: 0.6rem;

}
@media(max-width:900px){
    .song-info{
        display: none;
    }
    .info{
        display: none;
    }
    .rang{
        margin-left: 20%;
    }

}